In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('cursos-prouni.csv')

In [3]:
df.head(5)

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,curso_busca,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,Bacharelado,Integral,9999.99,15.0,14.0,NaN,NaN,706710394154,Medicina,Campo Grande,MS,NTAwMjAwNDAyNzA0,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,706710,Medicina,740.22,726.46,NaN,NaN
1,Bacharelado,Noturno,9836.40,1.0,NaN,NaN,NaN,104191210567043,Enfermagem,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Enfermagem,663.36,NaN,NaN,NaN
2,Bacharelado,Integral,9715.61,2.0,5.0,6.0,10.0,1002328574024,Medicina,Sao Paulo,SP,MzUxNTA2MTUwMzA4,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,1002328,Medicina,739.62,738.08,738.96,718.64
3,Bacharelado,Noturno,9689.34,3.0,2.0,NaN,NaN,104191212798093,Psicologia,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Psicologia,651.00,652.22,NaN,NaN
4,Bacharelado,Integral,9674.34,4.0,1.0,5.0,2.0,65899611932754,Medicina,Rio Branco,AC,MTIwMjAwNDAwNDAx,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,658996,Medicina,758.32,723.94,734.92,711.26

In [4]:
df.columns

Index(['grau', 'turno', 'mensalidade', 'bolsa_integral_cotas',
       'bolsa_integral_ampla', 'bolsa_parcial_cotas', 'bolsa_parcial_ampla',
       'curso_id', 'curso_busca', 'cidade_busca', 'uf_busca', 'cidade_filtro',
       'universidade_nome', 'campus_nome', 'campus_id', 'nome',
       'nota_integral_ampla', 'nota_integral_cotas', 'nota_parcial_ampla',
       'nota_parcial_cotas'],
      dtype='object')

In [5]:
df.shape

(41447, 20)

In [6]:
df.dtypes

grau                     object
turno                    object
mensalidade             float64
bolsa_integral_cotas    float64
bolsa_integral_ampla    float64
bolsa_parcial_cotas     float64
bolsa_parcial_ampla     float64
curso_id                  int64
curso_busca              object
cidade_busca             object
uf_busca                 object
cidade_filtro            object
universidade_nome        object
campus_nome              object
campus_id                 int64
nome                     object
nota_integral_ampla     float64
nota_integral_cotas     float64
nota_parcial_ampla      float64
nota_parcial_cotas      float64
dtype: object

In [7]:
df.describe()

,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,campus_id,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
count,41447.000000,32520.000000,25404.000000,8828.000000,13041.000000,4.144700e+04,4.144700e+04,32520.000000,16802.000000,16350.000000,5519.000000
mean,622.636966,1.535394,2.513541,1.873018,8.632544,4.207360e+13,6.786530e+05,575.982999,564.470439,527.517136,511.799638
std,606.442296,2.191578,3.019549,2.336403,18.372991,6.061552e+13,6.398410e+05,57.827594,57.869145,60.202170,56.787140
min,139.000000,0.000000,1.000000,1.000000,1.000000,2.248801e+07,2.240000e+02,450.000000,450.000000,450.000000,450.000000
25%,278.000000,0.000000,1.000000,1.000000,1.000000,6.460131e+11,1.172300e+04,544.360000,532.865000,453.980000,450.000000
50%,393.350000,1.000000,1.000000,1.000000,2.000000,2.003572e+12,6.587550e+05,580.740000,571.450000,532.420000,511.820000
75%,825.000000,2.000000,3.000000,2.000000,6.000000,1.036636e+14,1.058794e+06,614.145000,603.315000,573.235000,557.170000
max,9999.990000,58.000000,67.000000,74.000000,350.000000,2.008632e+14,2.008633e+06,781.200000,792.240000,776.360000,768.340000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41447 entries, 0 to 41446
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   grau                  41447 non-null  object
 1   turno                 41447 non-null  object
 2   mensalidade           41447 non-null  float64
 3   bolsa_integral_cotas  32520 non-null  float64
 4   bolsa_integral_ampla  25404 non-null  float64
 5   bolsa_parcial_cotas   8828 non-null   float64
 6   bolsa_parcial_ampla   13041 non-null  float64
 7   curso_id              41447 non-null  int64
 8   curso_busca           41447 non-null  object
 9   cidade_busca          41447 non-null  object
 10  uf_busca              41447 non-null  object
 11  cidade_filtro         41447 non-null  object
 12  universidade_nome     41447 non-null  object
 13  campus_nome           41447 non-null  object
 14  campus_id             41447 non-null  int64
 15  nome                  41447 non-null  object
 16  nota_integral_ampla   32520 non-null  float64
 17  nota_integral_cotas   16802 non-null  float64
 18  nota_parcial_ampla    16350 non-null  float64
 19  nota_parcial_cotas    5519 non-null   float64
dtypes: float64(9), int64(2), object(9)
memory usage: 6.3+ MB

In [9]:
df['uf_busca'].value_counts()

SP    11533
MG     4175
PR     3918
RS     3060
BA     2505
SC     2195
RJ     1442
GO     1278
PA     1201
PE     1148
DF     1063
MT     1063
ES      825
CE      816
MS      785
MA      679
PB      596
RO      463
AM      429
PI      405
TO      343
RN      342
AL      327
SE      323
AP      219
AC      203
RR      111
Name: uf_busca, dtype: int64

In [10]:
df[df['mensalidade']==df['mensalidade'].max()]

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,curso_busca,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,Bacharelado,Integral,9999.99,15.0,14.0,NaN,NaN,706710394154,Medicina,Campo Grande,MS,NTAwMjAwNDAyNzA0,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,706710,Medicina,740.22,726.46,NaN,NaN

In [11]:
df[df['mensalidade']==df['mensalidade'].min()][['grau','turno','mensalidade']]

              grau              turno  mensalidade
41444  Tecnológico         Vespertino        139.0
41445  Bacharelado  Curso a Distância        139.0
41446  Tecnológico  Curso a Distância        139.0

In [12]:
df.groupby('uf_busca')['mensalidade'].min()

uf_busca
AC    149.0
AL    149.0
AM    149.0
AP    149.0
BA    149.0
CE    169.0
DF    139.0
ES    139.0
GO    149.0
MA    149.0
MG    149.0
MS    149.0
MT    149.0
PA    139.0
PB    149.0
PE    149.0
PI    149.0
PR    149.0
RJ    149.0
RN    149.0
RO    149.0
RR    169.0
RS    149.0
SC    149.0
SE    169.0
SP    144.0
TO    149.0
Name: mensalidade, dtype: float64

In [13]:
df.loc[df.groupby('uf_busca')['mensalidade'].idxmax()].tail()

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,curso_busca,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
18,Bacharelado,Integral,8329.95,1.0,4.0,NaN,NaN,100369211074,Medicina,Caxias do Sul,RS,NDMwMjAxNjA1MTA4,Universidade de Caxias do Sul - UCS,CAMPUS SEDE - Petrópolis,1003692,Medicina,745.42,751.32,NaN,NaN
86,Bacharelado,Integral,6922.15,0.0,3.0,NaN,NaN,65772213855214,Medicina,Rio do Sul,SC,NDIwNDAxMTE0ODA1,Centro Universitário para O Desenvolvimento do...,CAMPUS DE RIO DO SUL - SEDE - Jardim América,657722,Medicina,735.66,NaN,NaN,NaN
101,Bacharelado,Integral,6490.00,5.0,2.0,NaN,NaN,65787350000014,Medicina,Aracaju,SE,MjgwMzAxMTAwMzA4,Universidade Tiradentes - UNIT,CAMPUS ARACAJU FAROLÂNDIA - Farolândia,657873,Medicina,753.04,742.36,NaN,NaN
2,Bacharelado,Integral,9715.61,2.0,5.0,6.0,10.0,1002328574024,Medicina,Sao Paulo,SP,MzUxNTA2MTUwMzA4,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,1002328,Medicina,739.62,738.08,738.96,718.64
38,Bacharelado,Integral,7800.00,4.0,1.0,NaN,NaN,105458350008124,Medicina,Palmas,TO,MTcwMjAwNjIxMDAw,"Faculdade de Ciências Humanas, Econômicas e da...","FACULDADE DE CIÊNCIAS HUMANAS, ECONÔMICAS E DA...",1054583,Medicina,747.68,737.96,NaN,NaN

In [14]:
df[(df['mensalidade']>500) & (df['mensalidade']<1000)].tail()

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,curso_busca,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
17681,Tecnológico,Noturno,500.73,2.0,1.0,NaN,NaN,106776013216263,Gestão de Recursos Humanos,Natal,RN,MjQwNDAxODA4MTAy,Universidade Potiguar - UNP,UNIDADE JOÃO MEDEIROS - Potengi,1067760,Gestão de Recursos Humanos,600.48,576.64,NaN,NaN
17682,Tecnológico,Noturno,500.64,1.0,1.0,NaN,NaN,399714543,Gestão Ambiental,Barbacena,MG,MzExMTA1OTA1NjA4,Universidade Presidente Antônio Carlos - UNIPAC,BARBACENA - CAMPUS I - CAMPUS MAGNUS - Colônia...,399,Gestão Ambiental,598.40,562.96,NaN,NaN
17683,Tecnológico,Noturno,500.61,NaN,NaN,4.0,2.0,104100011869453,Gestão de Segurança Privada,Porto Velho,RO,MTEwMTAwMTAwMjA1,Faculdade Metropolitana - UNNESA,UNIDADE SEDE - Jardim Eldorado,1041000,Gestão de Segurança Privada,NaN,NaN,544.74,519.06
17684,Bacharelado,Curso a Distância,500.54,0.0,2.0,NaN,NaN,104909911152245,Ciências Contábeis,Porto Alegre,RS,NDMwNTAyNjE0OTAy,Universidade do Vale do Rio dos Sinos - UNISINOS,UNISINOS PORTO ALEGRE - Três Figueiras,1049099,Ciências Contábeis,621.86,NaN,NaN,NaN
17685,Bacharelado,Curso a Distância,500.10,1.0,NaN,NaN,NaN,106342212950755,Ciências Contábeis,Salvador,BA,MjkwNTAyMTI3NDA4,Centro Universitário Jorge Amado - UNIJORGE,POLO SALVADOR COMÉRCIO IV - Comércio,1063422,Ciências Contábeis,655.52,NaN,NaN,NaN

In [15]:
df.nlargest(5,'mensalidade')

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,curso_busca,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,Bacharelado,Integral,9999.99,15.0,14.0,NaN,NaN,706710394154,Medicina,Campo Grande,MS,NTAwMjAwNDAyNzA0,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,706710,Medicina,740.22,726.46,NaN,NaN
1,Bacharelado,Noturno,9836.40,1.0,NaN,NaN,NaN,104191210567043,Enfermagem,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Enfermagem,663.36,NaN,NaN,NaN
2,Bacharelado,Integral,9715.61,2.0,5.0,6.0,10.0,1002328574024,Medicina,Sao Paulo,SP,MzUxNTA2MTUwMzA4,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,1002328,Medicina,739.62,738.08,738.96,718.64
3,Bacharelado,Noturno,9689.34,3.0,2.0,NaN,NaN,104191212798093,Psicologia,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Psicologia,651.00,652.22,NaN,NaN
4,Bacharelado,Integral,9674.34,4.0,1.0,5.0,2.0,65899611932754,Medicina,Rio Branco,AC,MTIwMjAwNDAwNDAx,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,658996,Medicina,758.32,723.94,734.92,711.26

In [18]:
df.nsmallest(6,'mensalidade')

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,curso_busca,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
41444,Tecnológico,Vespertino,139.0,1.0,NaN,NaN,NaN,1056445674232,Gestão de Recursos Humanos,Brasilia,DF,NTMwMTAwMTAwMTA4,Centro Universitário Planalto do Distrito Fede...,DF03 - UNIDADE BRASIL CENTRAL - Taguatinga Nor...,1056445,Gestão de Recursos Humanos,580.76,NaN,NaN,NaN
41445,Bacharelado,Curso a Distância,139.0,1.0,NaN,NaN,NaN,96781210935,Serviço Social,Vitoria,ES,MzIwMzAwOTA1MzA5,Universidade Paulista - UNIP,VITORIA I - Barro Vermelho,9678,Serviço Social,548.26,NaN,NaN,NaN
41446,Tecnológico,Curso a Distância,139.0,3.0,1.0,NaN,NaN,200467412868575,Gestão Ambiental,Santarem,PA,MTUwMTAwMjA2ODA3,Universidade Paulista - UNIP,SANTARÉM - Fátima,2004674,Gestão Ambiental,605.32,573.7,NaN,NaN
41443,Tecnológico,Curso a Distância,144.0,1.0,2.0,2.0,5.0,65868712869275,Marketing,Sao VIcente,SP,MzUxNTA2MzUxMDA5,Faculdade de São VIcente - FSV,UNIDADE SEDE - Centro,658687,Marketing,533.34,450.0,450.0,450.0
41172,Licenciatura,Curso a Distância,149.0,1.0,NaN,NaN,NaN,991212865605,Sociologia,Acrelandia,AC,MTIwMjAwNDAwMDEz,Universidade Paulista - UNIP,ACRELANDIA - Centro,9912,Sociologia,517.28,NaN,NaN,NaN
41173,Tecnológico,Curso a Distância,149.0,1.0,NaN,NaN,NaN,991213826055,Gestão Comercial,Acrelandia,AC,MTIwMjAwNDAwMDEz,Universidade Paulista - UNIP,ACRELANDIA - Centro,9912,Gestão Comercial,545.64,NaN,NaN,NaN