# Title

In [1]:
# Análise de dados do Senado
# Cota para o Exercício da Atividade Parlamentar dos Senadores (Ceaps)
# fonte de dados: https://www12.senado.leg.br/transparencia/dados-abertos-transparencia/dados-abertos-ceaps

# Head

In [21]:
# by geanclm in 20/02/2022 at 16:43h
# Objective:

# Local files

In [3]:
!dir

 O volume na unidade C ‚ Windows
 O N£mero de S‚rie do Volume ‚ 2656-7D0D

 Pasta de C:\Users\geanc\Downloads\DATA SCIENCE\LABHacker

20/02/2022  18:09    <DIR>          .
20/02/2022  18:09    <DIR>          ..
20/02/2022  18:01    <DIR>          .ipynb_checkpoints
19/02/2022  15:44           288.946 1.png
17/02/2022  23:26         1.283.693 2120.xlsx
18/02/2022  00:09         1.432.576 2120_.xls
19/02/2022  14:37             8.147 API_escola_inteligente.ipynb
19/02/2022  14:17            27.053 API_partidos_json.ipynb
17/02/2022  23:20            69.209 cursos-prouni-2018.ipynb
17/02/2022  18:33         9.225.477 cursos-prouni.csv
17/02/2022  18:28           152.930 dadosDF_cirurgias.ipynb
20/02/2022  16:06         4.503.713 despesa_ceaps_2021.csv
20/02/2022  18:02         1.493.387 eleitorado_municipio_2020.csv
19/02/2022  11:58            79.069 filmes.ipynb
17/02/2022  11:17            21.932 LABHacker_pronatec.ipynb
16/02/2022  18:19            77.870 PDA_UNIDADES_RF_EPCT_CSV.csv
20/02/2022  18:09            39.532 senado_csv.ipynb
16/02/2022  19:39         1.182.580 sih-janeiro-2017-cirurgias-eletiva-e-emergencia.csv
20/02/2022  18:09            17.650 TSE_eleitorado_csv.ipynb
16/02/2022  17:50           105.709 Unidades_da_Rede_Federal_de_EPCT.csv
19/02/2022  15:24            58.186 webscraping_wikipedia.ipynb
              18 arquivo(s)     20.067.659 bytes
               3 pasta(s)   636.467.712.000 bytes dispon¡veis

# Import libs

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

# Loading data

In [5]:
df = pd.read_csv('despesa_ceaps_2021.csv', sep =';', encoding='cp1252', skiprows=1)

In [6]:
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2021,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,023.489.627,21/01/2021,Pagamento de energia elétrica para uso do escr...,"75,29",2158003
1,2021,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",062.135.728-64,FERNANDO WALDEIR PACINI e ANA LUCIA DA SILVA S...,01/2021,05/01/2021,Despesa com pagamento de aluguel de imóvel par...,1000,2157367
2,2021,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/21,06/01/2021,Despesa com aluguel de imóvel para uso do escr...,6000,2156383
3,2021,1,ACIR GURGACZ,Divulgação da atividade parlamentar,26.320.603/0001-64,INFORMANAHORA,10,25/01/2021,Divulgação da atividade parlamentar,1500,2154509
4,2021,1,ACIR GURGACZ,Divulgação da atividade parlamentar,13.659.201/0001-47,LINHA PURPURA FOTO E VIDEO LTDA,44,07/01/2021,Divulgação da atividade parlamentar,6000,2154507

# Data preparation

In [7]:
df['VALOR_REEMBOLSADO']

0          75,29
1           1000
2           6000
3           1500
4           6000
          ...
16663    1715,45
16664    2489,29
16665    1486,66
16666    2515,56
16667    1510,75
Name: VALOR_REEMBOLSADO, Length: 16668, dtype: object

In [8]:
df['VALOR_REEMBOLSADO'] = df['VALOR_REEMBOLSADO'].str.replace(',','.').astype(float)

# Data visualization

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16668 entries, 0 to 16667
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                16668 non-null  int64
 1   MES                16668 non-null  int64
 2   SENADOR            16668 non-null  object
 3   TIPO_DESPESA       16668 non-null  object
 4   CNPJ_CPF           16668 non-null  object
 5   FORNECEDOR         16668 non-null  object
 6   DOCUMENTO          15998 non-null  object
 7   DATA               16668 non-null  object
 8   DETALHAMENTO       9081 non-null   object
 9   VALOR_REEMBOLSADO  16668 non-null  float64
 10  COD_DOCUMENTO      16668 non-null  int64
dtypes: float64(1), int64(3), object(7)
memory usage: 1.4+ MB

In [10]:
df.describe()

           ANO           MES  VALOR_REEMBOLSADO  COD_DOCUMENTO
count  16668.0  16668.000000       16668.000000   1.666800e+04
mean    2021.0      6.876530        1483.669322   2.164091e+06
std        0.0      3.293123        2931.132302   5.408597e+03
min     2021.0      1.000000           0.010000   2.154172e+06
25%     2021.0      4.000000         188.037500   2.159554e+06
50%     2021.0      7.000000         500.000000   2.164122e+06
75%     2021.0     10.000000        1673.940000   2.168690e+06
max     2021.0     12.000000       65000.000000   2.174692e+06

In [11]:
df.columns

Index(['ANO', 'MES', 'SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR',
       'DOCUMENTO', 'DATA', 'DETALHAMENTO', 'VALOR_REEMBOLSADO',
       'COD_DOCUMENTO'],
      dtype='object')

In [12]:
# plt.figure(figsize=(5,15))
# df.SENADOR.value_counts(ascending=True).plot.barh();

In [13]:
df['VALOR_REEMBOLSADO'].sum()

24729800.259999998

In [14]:
df['SENADOR'].value_counts()

JAQUES WAGNER           673
CARLOS VIANA            596
HUMBERTO COSTA          502
LUIS CARLOS HEINZE      481
CARLOS FÁVARO           476
                       ...
EDUARDO GIRÃO            12
TASSO JEREISSATI          9
NEY SUASSUNA              3
VIRGINIO DE CARVALHO      3
NAILDE PANTA              1
Name: SENADOR, Length: 86, dtype: int64

In [15]:
df.groupby(['SENADOR','VALOR_REEMBOLSADO']).sum()

                                     ANO  MES  COD_DOCUMENTO
SENADOR          VALOR_REEMBOLSADO
ACIR GURGACZ     73.37              2021    3        2160846
                 73.38              2021    4        2160849
                 73.45              2021    2        2158005
                 75.29              2021    1        2158003
                 171.00             2021    2        2158006
...                                  ...  ...            ...
ZEQUINHA MARINHO 8500.00            2021   11        2171581
                 12200.00           2021    4        2158537
                 13000.00           2021    1        2154727
                 14000.00           2021    3        2158223
                 17500.00           2021    8        2165472

[10421 rows x 3 columns]

In [16]:
df.groupby('SENADOR')['VALOR_REEMBOLSADO'].sum().sort_values(ascending=False).head()

SENADOR
OMAR AZIZ           527681.31
ROGÉRIO CARVALHO    502132.23
LUCAS BARRETO       499101.15
MECIAS DE JESUS     488693.40
TELMÁRIO MOTA       487741.74
Name: VALOR_REEMBOLSADO, dtype: float64

In [17]:
df.nlargest(5,'VALOR_REEMBOLSADO')

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
14210,2021,12,SÉRGIO PETECÃO,"Contratação de consultorias, assessorias, pesq...",10.176.343/0001-65,"Mult Graf Industria Grafica, Editira e Comerci...",000000360,24/12/2021,NaN,65000.0,2173458
14214,2021,12,SÉRGIO PETECÃO,Divulgação da atividade parlamentar,10.176.343/0001-65,"Mult Graf Industria Grafica, Editira e Comerci...",000.000.349,13/12/2021,NaN,65000.0,2171769
11258,2021,12,MECIAS DE JESUS,Divulgação da atividade parlamentar,27.025.843/0001-07,F M HOLANDA EIRELI-ME,00002126,30/12/2021,NaN,60300.0,2172821
2327,2021,3,CID GOMES,"Locomoção, hospedagem, alimentação, combustíve...",52.045.457/0001-16,TAM Aviação Executiva e Taxi Aéreo,459,30/03/2021,NaN,54552.0,2157774
11346,2021,8,NELSINHO TRAD,"Contratação de consultorias, assessorias, pesq...",37.195.146/0001-40,Home Mix Produção e Assessoria em Radiodifusão...,00007332,04/08/2021,"Referente ao pagamento no mês de agosto, da pr...",40000.0,2163759

In [18]:
df.nsmallest(5,'VALOR_REEMBOLSADO')

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
1480,2021,9,CARLOS PORTINHO,"Passagens aéreas, aquáticas e terrestres nacio...",09.296.295/0001-60,AZUL,YYMQTR,27/09/2021,"Companhia Aérea: AZUL, Localizador: YYMQTR. Pa...",0.01,2167020
1524,2021,11,CARLOS PORTINHO,"Passagens aéreas, aquáticas e terrestres nacio...",09.296.295/0001-60,AZUL,QDNNXV,09/11/2021,"Companhia Aérea: AZUL, Localizador: QDNNXV. Pa...",0.01,2169931
1534,2021,11,CARLOS PORTINHO,"Passagens aéreas, aquáticas e terrestres nacio...",09.296.295/0001-60,AZUL,YWR3JE,26/11/2021,"Companhia Aérea: AZUL, Localizador: YWR3JE. Pa...",0.01,2170502
1554,2021,12,CARLOS PORTINHO,"Passagens aéreas, aquáticas e terrestres nacio...",09.296.295/0001-60,AZUL,AGKNFW,09/12/2021,"Companhia Aérea: AZUL, Localizador: AGKNFW. Pa...",0.01,2171762
3228,2021,10,DÁRIO BERGER,"Passagens aéreas, aquáticas e terrestres nacio...",07.575.651/0001-59,GOL LINHAS AÉREAS INTELIGENTES,HACROG,21/10/2021,"Companhia Aérea: GOL, Localizador: HACROG. Pas...",0.01,2170088

In [19]:
df['TIPO_DESPESA'].value_counts()

Locomoção, hospedagem, alimentação, combustíveis e lubrificantes                                                                                                                                   5687
Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.                                                                                                           3675
Passagens aéreas, aquáticas e terrestres nacionais                                                                                                                                                 3528
Divulgação da atividade parlamentar                                                                                                                                                                1409
Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.     1249
Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar                                                             1085
Serviços de Segurança Privada                                                                                                                                                                        35
Name: TIPO_DESPESA, dtype: int64

In [20]:
df.groupby('TIPO_DESPESA')['VALOR_REEMBOLSADO'].sum().sort_values(ascending=False)

TIPO_DESPESA
Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar                                                             5913023.98
Passagens aéreas, aquáticas e terrestres nacionais                                                                                                                                                 5311546.15
Locomoção, hospedagem, alimentação, combustíveis e lubrificantes                                                                                                                                   4442129.86
Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.                                                                                                           4031126.54
Divulgação da atividade parlamentar                                                                                                                                                                3968099.48
Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.     1019921.16
Serviços de Segurança Privada                                                                                                                                                                        43953.09
Name: VALOR_REEMBOLSADO, dtype: float64