# Title

In [ ]:
# SERVIÇO FLORESTAL BRASILEIRO
# Sistema Nacional de Informações Florestais
# Incêndios Florestais

# Import libs

In [2]:
import pandas as pd

# Import data

In [6]:
# fonte: https://snif.florestal.gov.br/pt-br/incendios-florestais

In [4]:
df = pd.read_excel('focos_calor_1998_2019.xlsx')

In [7]:
df.shape

(325, 4)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ano      325 non-null    object
 1   Mês      325 non-null    object
 2   Número   325 non-null    int64
 3   Período  325 non-null    object
dtypes: int64(1), object(3)
memory usage: 10.3+ KB

In [9]:
df

        Ano      Mês  Número              Período
0      1998  Janeiro       0  1998-01-01 00:00:00
1      1999  Janeiro    1081  1999-01-01 00:00:00
2      2000  Janeiro     778  2000-01-01 00:00:00
3      2001  Janeiro     547  2001-01-01 00:00:00
4      2002  Janeiro    1653  2002-01-01 00:00:00
..      ...      ...     ...                  ...
320    2018    Total  132955  2018-12-01 00:00:00
321    2019    Total    5685  2019-12-01 00:00:00
322  Máximo    Total  394004               Máximo
323   Média    Total  228082                Média
324  Mínimo    Total  123898               Mínimo

[325 rows x 4 columns]

In [11]:
df[df['Número']==df['Número'].max()]

        Ano    Mês  Número              Período
309    2007  Total  394004  2007-12-01 00:00:00
322  Máximo  Total  394004               Máximo