# An√°lise dos dados do escola inteligente
### Dados do INEP disponibilizados por meio de API
### fonte de dados: http://educacao.dadosabertosbr.com/

In [1]:
import pandas as pd
import requests as rq

In [2]:
url = 'http://educacao.dadosabertosbr.com/api/escolas/buscaavancada?situacaoFuncionamento=1&energiaInexistente=on&aguaInexistente=on&esgotoInexistente=on&cozinha=on'

In [3]:
response = rq.get(url)

In [5]:
# response.text

In [6]:
df = pd.DataFrame(response.json()[1])

In [7]:
df.tail()

,anoCenso,cod,nome,codCidade,cidade,estado,regiao,situacaoFuncionamento,dependenciaAdministrativa,idebAI,idebAF,enemMediaGeral,situacaoFuncionamentoTxt,dependenciaAdministrativaTxt
95,2013,15103692,E M E F PRINCESA ISABEL,1506195,RUROPOLIS,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
96,2013,15227499,E M E F PROF JONATHAS PONTES ATHIAS,1505106,OBIDOS,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
97,2013,15556956,E M E F PROFESSORA ALDALETE FERREIRA,1500305,AFUA,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
98,2013,15536521,E M E F RAIMUNDO DE SOUZA SANTOS,1504703,MOJU,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
99,2013,15023664,E M E F RAIMUNDO NOGUEIRA,1500305,AFUA,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal

In [14]:
df['estado'].value_counts()

PA    99
PR     1
Name: estado, dtype: int64